@tailwind base;
@tailwind components;
@tailwind utilities;


.CountryCard{
    @apply min-w-[18rem] w-[80%] h-[19rem] rounded-md overflow-hidden shadow-md relative;
    @apply cursor-pointer;
    transition:.5s ease-in-out;

    .CountryCard_Image{
        @apply w-full block h-[65%] ;

        img{
            @apply object-cover;
        }
    }
}


.CountryCard:hover{
    transition:.5s ease-in-out;
    transform: scale(1.1);
}


