@tailwind base;
@tailwind components;
@tailwind utilities;


.CountryCard{
    @apply min-w-[16rem] w-[80%-20px] h-[19rem] rounded-md overflow-hidden shadow-md;
    @apply cursor-pointer;
    transition:.5s ease-in-out;
    img{
        @apply w-full h-[65%];
    }
}


.CountryCard:hover{
    transition:.5s ease-in-out;
    transform: scale(1.1);
}


