<div *ngIf="isLoading">
    <div class="flex w-[90vw] m-h-[70%] h-[60%] justify-center flex-wrap mt-[10rem]">
      <div class="image w-[40%] h-[40%] mr-[2rem]">
        <img
          class="w-[23rem] h-[14rem] "
          src="{{ country[0].flags.png }}"
          alt="country-image"
        />
      </div>
      <div class="details">
        <p class="text-[2rem] text-bold mb-[1.4rem]">{{country[0].name}}</p>
    
        <div class="detailsBox flex gap-[2rem]">
          <ul class="flex flex-col gap-[1rem]">
            <li><strong>Name: </strong>{{country[0].name}}</li>
            <li><strong>Population: </strong>{{country[0].population}}</li>
            <li><strong>Region: </strong>{{country[0].region}}</li>
            <li><strong>Capital: </strong>{{country[0].capital}}</li>
          </ul>
          <ul class="flex flex-col gap-[1rem]">
            <li><strong>Size: </strong>{{country[0].area + " " + "km"}}</li>
            <li><strong>Currency: </strong>{{country[0].currencies[0].name}}</li>
            <li><strong>phone_code: </strong>{{country[0].callingCodes}}</li>
          </ul>
        </div>
      </div>
    </div>
</div>

<div *ngIf="!isLoading">
    <app-skeleton-loading-country-details/>
</div>

